{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Summarize Menteri">
    <meta name="author" content="{{author}}">
     <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" type="text/css" href='{% static "css/main.css" %}'>
    {% block css %}
    {% endblock %}

    {% block js %}
    {% endblock %}
    <!-- <script src="transaksi.js"></script> -->
    <title>
      {% block title %}
      {% endblock %}
      
    </title>
  </head>

  <body style='background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("{% static 'bendera.jpg' %}");
  filter: blur(); background-repeat: no-repeat; background-attachment: fixed; background-position: center; background-size: cover; '>
    <header>
      {% include "summarizer/partials/navbar.html" %}
    </header>

    <content>
      <div class="body-container">
        {% block content %}
        {% endblock %}
      </div>
    </content> 
      
  </body>
</html>
