{% load staticfiles %}
{% load static %}
<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" href="">Summarize Menteri Indonesia</a>
          </li>
      </ul>
  </div>
</nav>