{% extends "summarizer/layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}
<body>
    <h1 class="underline">Pilih Menteri yang akan di Summarize</h1>

    <div class="d-flex align-content-start flex-wrap boxy align-items-stretch">
        {% for menteri in menteris %}
            <div class="p-2 bd-highlight list-menteri ">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ menteri.foto }}" alt="Card image cap" style="height:350px;">
                    <div class="card-body">
                      <p class="card-text nama-menteri">{{menteri.nama}}</p>
                      <a href="{% url 'summarizer:show_summarize' menteri.id %}" class="btn btn-primary button">Summarize</a>
                    </div>
                  </div>
            </div>
        {% endfor %}
    </div>
</body>
{% endblock %}