{% extends "summarizer/layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}
<body>
  <div class="container">
    <div class="col-md-12">
      <div class="row">
          <div class="card text-white bg-dark d-inline-block col-md-12" style="margin:10px; padding:10px">
            <div class="card-header">Hasil Ringkasan</div>
              <div class="card-body" style="margin:10px;">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-sm-8 col-md-6 col-lg-4">
                      <img src="{{ menteri.foto }}" style="width:100%; height: auto;"/>
                    </div>
                    <div class="col-sm-4 col-md-6 col-lg-8">
                      <!-- <div class="row"> -->
                        <h4 class="card-title">{{menteri.nama}}</h4>
                          <p class="card-text">{{summary}}</p>
                          <a type="button" class="btn btn-primary" href="/">Kembali</a>
                      <!-- </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
              
          </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}