.list-menteri {
    position: relative; 
    text-align: center;
}

.boxy{
    margin-left: 20%;
    width: 80%;
}

.slab-name{
    border-radius: 3px;
    position: absolute; 
    top: 20px; 
    left: -10px; 
    width: 80%;
    height: 40px;
    pointer-events: none;
    cursor: default;
    background: #3454D1;
    color: white;
    text-indent: 20px;
    vertical-align: middle;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;    
}
.list-parent{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.underline {
    border-bottom: 2px solid currentColor;
    margin: 0 auto;
    width: 70%;
    margin-top: 30px;
    margin-bottom: 45px;
    color: white;
}

.nama-menteri {
    font-weight: bold;
}